@media only screen and (min-width: 1200px) {
 
.service-area {
  padding: 40px 20px;
  background-color: #cde99f;
}
.service-area-main {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: 80%;
  margin: auto;
}
.service-area p {
  text-align: center;
  font-size: 25px;
}
.service-area h3 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.service-area-box {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

/* .service-area-img{
  width: 40%;
}
.service-area-img img {
  width: 100%;
} */

.service-area-box-right {
  width: 35vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}
.service-d-areas {
  width: 9vw;
  height: 40px;
  border: 0.5px solid;
  border-radius: 50px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
}
.service-d-areas:hover {
  background-color: #90d41b;
}
}
@media (max-width: 768px) {
    .header {
        display: none; /* Hide desktop header */
      }
    
      .mobile-header {
        display: flex;
        flex-direction: column;
      }
    
      .mobile-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
      .mobile-logo img {
        max-width: 80px;
        height: auto;
      }
    
      .mobile-menu-toggle {
        font-size: 24px;
        cursor: pointer;
      }
    
      .mobile-nav-links {
        display: none; /* Hide navigation by default */
        background-color: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    
      .mobile-nav-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    
      .mobile-nav-links ul li {
        margin: 5px 0;
      }
    
      .mobile-nav-links ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        padding: 7px;
        display: block;
      }
      
      .mobile-nav-links ul li a:hover {
        color: #659c08;
      }
      .mobile-nav-links ul li a.active {
        color: #659c08;
      }
    
      .mobile-nav-links.active {
        display: block; /* Show navigation when active */
      }


/* home page  */

    .services-section {
      /* flex-direction: column; Stack service cards vertically */
      padding: 20px; 
      gap: 20px;
      margin-top: 105px;
    }
  
    .service-card {
      max-width: 90%; 
      margin: 0 auto; 
    }
  
    .overlay span {
      font-size: 16px; 
    }
    .home-services-container {
      padding: 30px 20px;
      background-size: cover; /* Ensure the background image scales properly */
    }
  
    .home-services-wrapper {
      flex-direction: column; /* Stack the cards vertically */
      width: 100%;
    }
  
    .home-services-card {
      margin: 10px 0; /* Reduce margin between cards */
    }
  
    .home-services-card h3 {
      font-size: 1.2rem; /* Adjust heading font size */
    }
  
    .home-services-card ul li {
      font-size: 0.9rem; /* Adjust list item font size */
    }

    .frm input {
      width:80vw;
      margin-bottom: 4vw;
    }

/* ///////////////////// commerical page csss//////////////////////////////////// */



.com-services {
  flex-direction: column; /* Stack the items vertically */
  padding-top: 100px;
}

.com-box {
  width: 90%; /* Adjust box width for smaller screens */
  margin-bottom: 20px;
}

.rating-main {
  width: 100%;
  margin-left: 0;
  flex-direction: column;
  align-items: center;
}
.rating-btns {
  width: 100%;
  padding: 0 12vw;
  /* margin: 50px 0; */
  display: flex;
  justify-content: space-evenly;
}

.rating-img {
  padding: 20px;
}

.rating-text {
  width: 100%;
  text-align: center;
}

.rating-text img {
  width: 180px;
}

.spinning-img {
  padding-left: 0;
}

.rating-content h2 {
  font-size: 2rem;
}

.rating-content p {
  font-size: 16px;
}

.rating-btns {
  flex-direction: column;
  gap: 20px;
}

.y-choose-steira h2 {
  font-size: 1.8rem;
}

.reason {
  flex-direction: column;
  align-items: center;
}

.reason-box {
  width: 80%;
  margin-bottom: 15px;
}

.services h2 {
  font-size: 2.5rem;
}

.service-box {
  flex-direction: column;
  align-items: center;
}

.s-img-box img {
  width: 100%;
  height: auto;
}

.faq-accordion {
  width: 100%;
}

.faq-gotcall {
  width: 100%;
}
.faqs {
  display: block; /* Change to block layout for mobile */
}

/* .service-area {
  padding: 20px;
} */

.service-area-main {
  width: 80vw;
  display: flex;
  flex-direction: column;;
}

.service-area-box {
  width: 90vw;
}

.service-d-areas {
  width: 10vw;
  height: 2.5vw;
}
.service-area h4 {
  text-align: center;
  font-size: 12px;
}
.service-area-img{
  width: 80%;
}
.service-area-img img {
  width: 100%;
}


.cont-header {
  height: 60px;
  width: 100%;
  margin-top: 76px;
}
    
  }

  @media screen and (max-width: 576px) {
    .blog-card {
      width: 100%; /* One blog per row for mobile */
      margin-top: 70px;
    }
    .blog-card h3 {
      font-size: 14px;
    }
    .blog-card p {
      font-size: 12px;
    }
  }



  
  /* Media Query for Mobile Screens */
  @media (max-width: 480px) {
    .home-services-container {
      padding: 20px 10px;
    }
  
    .home-services-card {
      padding: 15px;
      flex: none; /* Remove flex properties for the cards */
    }
  
    .home-services-card h3 {
      font-size: 1rem; /* Adjust heading font size further */
    }
  
    .home-services-card ul li {
      font-size: 0.8rem; /* Further reduce font size for mobile */
    }

    /* commercial page */

    .rating-main{
      display: none;
    }

    .com-services{
      display: flex;
      flex-direction: column;
    }
    

    /*------- blog------- */
    .blog-section {
      width: 100%;
    }

    .blog-section h2 {
      padding-top: 14vw;
    }

    .blog-card {
      width: 75%; /* Two blogs per row for tablets */
      margin-top: 30px;
    }
    .blog-card h3 {
      font-size: 16px;
    }
    .blog-card p {
      font-size: 12px;
    }
   
    
    /* ------footer---- */
    .footer-container {
      flex-direction: column;
    }
    .f-logo img{
      width: 80vw;
    }
    .footer-column {
      width: 80%;
    }
  
    .cont-with-img{
      display: flex;
      flex-direction: column;
      padding: 2vw 3vw;
      margin: auto;
    }
    .cont-with-img-right{
      width: 100%;
    }

    .cont-with-img-right iframe{
      width:100%;
       height:260px;
    }

    .cont-big-img{
      display: flex;
      flex-direction: column;
      width: 90%;
      padding: 0 1vw;
    }

    .cont-big-img-nest {
      width: 90vw;
    }
    .cont-big-img-nest2 img{
      width: 90vw;
      height: 25vh;
    }
    .cont-big-img-nest h2{
      font-size: 1.3rem;
    }
   

    

    .cont-boxx-main {
    display: flex;
    flex-direction: row;
    }

    .cont-boxx-uper {
      display: flex;
      flex-direction: column;
    }

    .cont-banner {
    padding: 4vw 2vw;
    }
    .cont-banner h2 {
      font-size: 1.5rem;
    }
    .cont-banner-green {
      padding: 2vw 2vw;
    }
    .cont-banner-green h2 {
      font-size: 1.7rem;
    }
    .cont-box {
      width: 80vw;
    }
    .cont-banner-upper{
      padding: 20vw 3vw 2vw;
    }
    .cont-banner-upper h2 {
      font-size: 1.2rem;
    }
    .cont-with-img-main h2 {
      font-size: 1.3rem;
    }
    

    .cont-with-img-main2 {
      margin: auto;
      padding: 2vw 2vw;
    }
    
    
    .cont-with-img-main2 h2 {
      font-size: 1.7rem;
    }

    .cont-boxx-main {
      display: flex;
      flex-direction: column;
    }
    .cont-boxx-main h2 {
      font-size: 1.2rem;
    }
    .cont-header-color{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
      padding: 2vw 0
    }

    .cont-header-color-nested{
      width: 80%;
      margin: auto;
    }
    .cont-header-color-nested h2{
      font-size: 1.5rem;
      color: white;
      padding-top: 9vh;
      padding-bottom: 2vh;
      text-align: center;
    }

    .before-after {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: auto;
    }
    .before-after-box img {
      height: 300px;
    }

    .before-after-box {
      width: 80%;
      margin: auto;
    }

    .indoor-cont-points {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2vw 3vw;
    }
    .indoor-cont-points h2 {
      font-size: 1.6rem;
    }
    .indoor-cont{
      width: 100%;
      padding: 0 5vw;
    }
    .indoor-cont2{
      width: 100%;
      height: 300px;
    }

    .indoor-cont2 iframe{
      width: 100%;
    }

    .indoor-cont img{
      padding-top: 3vh;
    }

    .cont-header h1 {
      top: 45%;
    }

    .com-services {
      padding-top: 2vw;
    }
    .com-box iframe {
      width:300px;
       height:260px;
    }

    .frm input {
      margin-bottom: 4vw;
      width:80vw;
    }
    .n-service-box{
      margin-bottom: 6vw;
    }

/* -----contact page */

    .contact-main{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 15vw 2vw;
      margin: auto;
    }
      
      
    .contact-address{
      width: 100%;
    }
    
    .address {
      /* margin: 40px 0; */
      padding: 0;
    }

    .address h2 {
      font-size: 1.2rem;
    }
    .address i {
      font-size: 2rem;
    }
    .sub-addr p {
      text-align: center;
    }

    .contact-form {
      padding: 15vw 2vw;
      width: 100%;
  }

      .cont-form{
        width: 100%;
      }





  /* cmms like blog */
  .cmms-section {
    width: 95%;
  }
  .cmms-card {
    width: 45%;
    overflow: hidden;
  }

  .h2-center {
    font-size: 1.7rem !important;
  }
  

  /* -----before footer service area----- */

.service-area-main {
  width: 80vw;
  display: flex;
  flex-direction: column;;
}

.service-area-box {
  width: 100%;
}

.service-d-areas {
  width: 22vw;
  height: 1.7rem;
}
.service-area h4 {
  text-align: center;
  font-size: 14px;
}
.service-area-img{
  width: 90%;
}

.service-area-img img {
  width: 100%;
}

.new-service{
  width: 90%;
  margin: auto;
}
.n-service-box{
  width: 90%;
}

.n-service-box img{
  width: 90%;
}
.about-image {
  margin-top: 20px;
}

}

  
  
  